/* -- VARIABLES -- */

/* BRAND COLORS */

$dark-blue: #0747A6;
$blue: #2962ff;
$darker-blue: #0e078c;
$light-blue: #EEF1F7;
$light-gray: #FAFAFF;
$black: #343434;
$gray: #AEADAD;

/* FONTS */

$circular-book: 'Circular Air Book';
$circular-bold: 'Circular Air Bold';
$circular-black: 'Circular Air Black';

/* LAYOUT */

$gutter: 70px;
$lineheight: 1.666rem;
$mobile-gutter: 30px;
$bordersize: 2px;
$boxshadow: 0px 0px 20px 4px #D8DCE6;
